@font-face {
	font-family: 'Nico-Moji'; 
	src: url(../fonts/Nico-Moji.ttf.woff); 
}
@font-face {
	font-family: 'Aradora-Pro'; 
	src: url(../fonts/ArodoraPro-Light.otf); 
}
@font-face {
	font-family: 'next-art'; 
	src: url(../fonts/next-art.otf); 
}